*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    line-height: 1.6;
    font-family: 'Ubuntu', sans-serif;
}

img {
    max-width: 100%;
    display: block;
}

h1,
h2,
h3,
p {
    margin: 0;
}

.spacing>*+* {
    margin-top: 2rem;
}

.container {
    width: 85%;
    max-width: 85rem;
    margin: 0 auto;
}

.btn {
    display: inline-block;
    font-size: 1.125rem;
    font-weight: 700;
    background-color: orange;
    padding: .7rem 1.25rem;
    border-radius: .25rem;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    transition: transform 250ms ease-in-out, opacity 175ms linear;
}

.btn:hover,
.btn:focus {
    transform: scale(1.1);
    opacity: .9;
}

.main-title {
    font-size: 4rem;
    font-size: clamp(3rem, calc(5vw + 1rem), 4.5rem);
    line-height: 1;
    text-transform: uppercase;
}

section {
    padding: 7rem 0;
}

.section-title {
    text-align: center;
    margin-bottom: 5rem;
    font-size: clamp(2.5rem, calc(5vw + 1rem), 4.5rem);
}

.hero {
    text-align: center;
    color: white;
    padding: 15em 0;
    background-color: #222;

    @supports (background-blend-mode: multiply) {
        background: url('../img/shoe-3.png'), radial-gradient(#444, #111);
        background-blend-mode: multiply;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center center;
    }
}

.split {
    display: flex;
    gap: 1.3rem;
    justify-content: center;
    flex-wrap: wrap;

    &>* {
        flex-basis: 30%;
        min-width: 15rem;
    }
}

.featured {
    background: #eee;

    &__item {
        display: block;
        transform: scale(.85);
        position: relative;
        transition: transform 250ms ease-in-out;
        text-align: center;
        color: #333;
        line-height: 1.2;
        text-decoration: none;
     
        &:hover,
        &:focus {
            transform: scale(1);

            .featured__details {
                opacity: 1;
            }
        }

        &::after {
            content: '';
            position: absolute;
            background: #2193b0;
            top: 10%;
            left: 10%;
            z-index: -1;
            border-radius: 50%;
            padding: 75% 75% 0 0;
        }
    }

    &__details {
        opacity: 0;
        transition: opacity 250ms linear;

        span {
            display: block;
            font-weight: 700;
            font-size: 2.5rem;
            opacity: 1;
        }
    }
}

.product {
    background: orange;
    padding: 3rem;
    border-radius: 2rem;
    margin-bottom: 3rem;
    text-align: center;

    &__title {
        text-shadow: 0 0 0.2em rgba(0, 0, 0, 0.2);
        font-size: clamp(3rem, calc(5vw + 1rem), 5.5rem);
        text-transform: uppercase;
        color: #fff;
    }

    &__img {
        margin: -2.5rem 0 0 0;
    }

    @media (min-width: 992px) {
        text-align: left;

        &__img {
            width: 50%;
            float: right;
        }
    }

    .buy-now {
        background: green;
    }
}